<style>
    .product {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    }
    button:disabled {
    background-color: #d3d3d3; 
    color: #7a7a7a; 
    cursor: not-allowed;
    }
</style>
<div>
    <h1>Carrito</h1>
    <div id="productList"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const idcarrot = "{{userId}}";


    socket.emit('viewcarrito', idcarrot);

    socket.on('realTimeCarts', carts => {
        const productList = document.getElementById('productList');
        productList.innerHTML = '';
        carts.forEach(producto => {
            const productDiv = document.createElement('div');
            productDiv.classList.add('product');
            productDiv.innerHTML = `
                <h2>${producto.product.idProduct}</h2>
                <h2>${producto.product.title}</h2>
                <p>${producto.product.description}</p>
                <p>Código: ${producto.product.code}</p>
                <p>Precio: $${producto.product.price}</p>
                <p>Stock: ${producto.product.stock}</p>
                <p>Categoría: ${producto.product.category}</p>
                <button class="deleteButton" data-product-code="${producto.product.idProduct}">Eliminar</button>
                <div>
                    <button class="decreaseQuantity" data-product-code="${producto.product.idProduct}">-</button>
                    <span id="quantity-${producto.product.idProduct}">${producto.quantity}</span>
                    <button class="increaseQuantity" data-product-code="${producto.product.idProduct}">+</button>
                </div>
                <button class="addToCartButton" data-product-code="${producto.product.idProduct}">Actualizar</button>
            `;
            productList.appendChild(productDiv);
        });

        document.querySelectorAll('.deleteButton').forEach(button => {
            button.addEventListener('click', function () {
                const productCode = this.getAttribute('data-product-code');
                socket.emit('elimProduccarrito', {idcarrot, productCode});
            });
        });

        {{!-- document.querySelectorAll('.increaseQuantity').forEach(button => {
            button.addEventListener('click', function () {
                const productCode = this.getAttribute('data-product-code');
                const quantitySpan = document.getElementById(`quantity-${productCode}`);
                let quantity = parseInt(quantitySpan.innerText);
                quantity++;
                quantitySpan.innerText = quantity;
            });
        });

        document.querySelectorAll('.decreaseQuantity').forEach(button => {
            button.addEventListener('click', function () {
                const productCode = this.getAttribute('data-product-code');
                const quantitySpan = document.getElementById(`quantity-${productCode}`);
                let quantity = parseInt(quantitySpan.innerText);
                if (quantity > 1) {
                    quantity--;
                    quantitySpan.innerText = quantity;
                }
            });
        }); --}}

        document.querySelectorAll('.addToCartButton').forEach(button => {
            button.addEventListener('click', function () {
                const productCode = this.getAttribute('data-product-code');
                {{!-- const quantity = document.getElementById(`quantity-${productCode}`).innerText; --}}
                socket.emit('agregarAlCarrito', { idcarrot ,productCode: productCode});
            });
        });
    });
 
</script>

