<h1>Cargar Documentaci贸n Requerida</h1>

<form id="uploadForm" enctype="multipart/form-data">
    <div>
        <label for="identificacion">Identificaci贸n:</label>
        <input type="file" name="documents" id="identificacion" required>
    </div>
    <div>
        <label for="comprobanteDomicilio">Comprobante de Domicilio:</label>
        <input type="file" name="documents" id="comprobanteDomicilio" required>
    </div>
    <div>
        <label for="comprobanteCuenta">Comprobante de Estado de Cuenta:</label>
        <input type="file" name="documents" id="comprobanteCuenta" required>
    </div>
    <button type="submit">Subir Documentos</button>
</form>

<div id="message" class="hidden"></div>

<script>
    let userId = "{{userId}}";
    document.getElementById('uploadForm').addEventListener('submit', async (event) => {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);
    console.log(formData)

    try {
        const response = await fetch(`/api/user/${userId}/documents`, {
            method: 'POST',
            body: formData
        });

        const contentType = response.headers.get("content-type");
        if (contentType && contentType.includes("application/json")) {
            const result = await response.json();

            if (response.ok) {
                document.getElementById('message').textContent = 'Documentaci贸n subida exitosamente.';
                document.getElementById('message').classList.remove('hidden');
                document.getElementById('message').classList.add('success');

                const response = await fetch(`/api/user/premium/${userId}`, {
                    method: 'PUT'
                });
                modal.style.display = "block";
                setTimeout(() => {
                    document.querySelector('action="/api/sessions/logout"').submit();
                }, 3000);
            } else {
                document.getElementById('message').textContent = `Error: ${result.message || 'Hubo un problema al subir la documentaci贸n.'}`;
                document.getElementById('message').classList.remove('hidden');
                document.getElementById('message').classList.add('error');
            }
        } else {
            // Muestra el error si la respuesta no es JSON
            const errorMessage = await response.text();
            document.getElementById('message').textContent = `Error: ${errorMessage}`;
            document.getElementById('message').classList.remove('hidden');
            document.getElementById('message').classList.add('error');
        }
    } catch (error) {
        document.getElementById('message').textContent = `Error: ${error.message}`;
        document.getElementById('message').classList.remove('hidden');
        document.getElementById('message').classList.add('error');
    }
});

</script>

