 <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%;
            margin: 20px;
        }

        h1, h2 {
            color: #333;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 20px;
            border-bottom: 2px solid #007bff;
            padding-bottom: 5px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #f1f1f1;
            margin: 5px 0;
            padding: 10px;
            border-radius: 4px;
        }

        li span {
            font-weight: bold;
        }
    </style>
    <div class="container">
        <h1>Estado de la Compra</h1>
        <h1>Precio Total: {{datapurchase.amount}}</h1>
        <h2>Productos Comprados</h2>
        <ul id="complete-list">
        </ul>
        <h2>Productos sin Stock</h2>
        <ul id="incomplete-list">
        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    const socket = io();
    let code = '{{datapurchase.code}}'
    socket.emit('viewpurchase', code );

    socket.on('realTimePurchase', Purchase => {
        let purchasecomplete = Purchase.purchaser
        const completeList = document.getElementById('complete-list');
        completeList.innerHTML = '';
       
        purchasecomplete.Complete.forEach(producto => {
             console.log(producto.quantity)
            const productDiv = document.createElement('div');
            productDiv.classList.add('product');
            productDiv.innerHTML = `
                <h3>${producto.product.title}</h3>
                <p>${producto.product.description}</p>
                <p>Código: ${producto.product.code}</p>
                <p>Precio: $${producto.product.price}</p>
                <p>cantidad: ${producto.product.cantcompra || producto.quantity }</p>
            `;
            completeList.appendChild(productDiv);
        });
        const incompleteList = document.getElementById('incomplete-list');
        incompleteList.innerHTML = '';
        purchasecomplete.Incomplete.forEach(producto => {
            const productDiv = document.createElement('div');
            productDiv.classList.add('product');
            productDiv.innerHTML = `
                <h3>${producto.product.title}</h3>
                <p>${producto.product.description}</p>
                <p>Código: ${producto.product.code}</p>
                <p>Precio: $${producto.product.price}</p>
            `;
            incompleteList.appendChild(productDiv);
        });
    });

    </script>